---
import SideDrawerLayout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import formatDate from "../../utils/formatDate";
import calcReadTime from "../../utils/calcReadTime";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<SideDrawerLayout title="Blog - Zach Moore">
  <main class="m-auto max-w-4xl p-4 mt-8">
    <div class="my-4 w-full title-section flex flex-wrap items-center">
      <div>
        <h2 class="text-8xl font-bold title text-primary">
          {entry.data.title}
        </h2>

        <div class="w-full flex justify-start items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
            ></path>
          </svg>

          <span class="text-sm mr-4 ml-2">{formatDate(entry.data.pubDate)}</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>

          <span class="text-sm ml-2">{calcReadTime(entry.body)} Min Read</span>
        </div>

        <div class="w-full opacity-60 text-sm my-2">
          {entry.data.tags.map((tag: string) => `#${tag}`)}
        </div>
      </div>
    </div>
    <div class="prose w-full content my-8">
      <Content />
    </div>
  </main>
</SideDrawerLayout>

<style>
  .content {
    max-width: unset;
  }

  .title-section {
    min-height: 200px;
  }

  .prose {
    font-size: 13pt !important;
  }
</style>
