---
// import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import SideDrawerLayout from "../layouts/Layout.astro";
---

<SideDrawerLayout title="Welcome to Astro.">
  <main class="m-auto max-w-5xl">
    <p>
      <h2 class="text-9xl font-bold title text-primary">Hello</h2>
    </p>
    <div class="flex">
      <div class="text-neutral mx-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="5 7 15 20"
          class="w-20"
          fill="currentColor"
          ><title>format-quote-open</title><path
            d="M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z"
          ></path></svg
        >
      </div>
      <p class="text-3xl">
        <span
          >I'm Zach. I'm a software engineer, technologist and a bit of an
          artist. I work with awesome people and create cool things. You can
          find my exploits here.</span
        >
      </p>
    </div>
    <div class="w-full flex justify-end">
      <button class="btn btn-outline btn-primary btn-lg border-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
          ></path>
        </svg>

        Email Me
      </button>
    </div>
  </main>

  <!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul> -->
</SideDrawerLayout>

<style>
  main {
    /* margin: auto; */
    /* padding: 1.5rem; */
    /* max-width: 60ch; */
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  /* .title {
    font-family: "Teko", sans-serif;
  } */
</style>
