---
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
import SideDrawerLayout from "../layouts/Layout.astro";

const allPosts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});
---

<SideDrawerLayout title="Blog - Zach Moore">
  <main class="m-auto max-w-4xl p-4 mt-8">
    <h2 class="text-8xl font-bold title text-primary my-4">Posts</h2>
    {allPosts.map((post) => <BlogCard post={post} />)}
  </main>
</SideDrawerLayout>
