---
---

<footer
  class="w-full flex justify-center items-center text-sm opacity-60 m-4 p-4"
>
  <div class="">
    &copy; Zach Moore {new Date().getFullYear()}. All Rights Reserved.
  </div>
</footer>
