---
import ThemeToggle from "../components/ThemeToggle.astro";
import "@fontsource/poppins";
// import "@fontsource/teko";
import "@fontsource/staatliches";
import "../styles/scrollbars.css";
import Footer from "../components/Footer.astro";
import SearchPalette from "../components/SearchPalette.astro";
import NavMenu from "../components/NavMenu.astro";
// import Search from "astro-pagefind/components/Search";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import useThemeStore from "../store/useThemeStore";
  import useSearchStore from "../store/useSearchStore";

  const themeState = useThemeStore();
  const html = document.querySelector("html");
  html?.setAttribute("data-theme", themeState.value.get().theme);

  themeState.value.subscribe((state) => {
    html?.setAttribute("data-theme", state.theme);
  });

  // set upper margin to compensate for navbar if not on mobile
  const content = document.getElementById("content");
  if (content) {
    const navbar = document.querySelector(".navbar");
    if (navbar) {
      const navbarHeight = navbar.getBoundingClientRect().height;
      content.style.marginTop = `${navbarHeight}px`;
    }
  }

  const searchState = useSearchStore();
  const openSearchModal = () => {
    searchState.toggleSearchModal();
  };

  const searchBtn = document.getElementById("searchBtn");
  searchBtn?.addEventListener("click", openSearchModal);

  // logo link
  const logo = document.getElementById("nav-logo");
  logo?.addEventListener("click", () => {
    window.location.href = "/";
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="w-full navbar bg-base-100 fixed shadow-xl items-center">
          <div class="flex-none lg:hidden">
            <label for="my-drawer-3" class="btn btn-square btn-ghost">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path></svg
              >
            </label>
          </div>
          <div
            id="nav-logo"
            class="px-2 mx-2 text-primary text-5xl title mt-2 cursor-pointer"
          >
            Zach
          </div>
          <div class="flex-none hidden lg:block">
            <ul class="menu menu-horizontal text-secondary">
              <!-- Navbar menu content here -->
              <!-- <li><a>Navbar Item 1</a></li>
              <li><a>Navbar Item 2</a></li> -->
              <NavMenu />
            </ul>
          </div>
          <div class="flex-1">
            <div
              class="w-full flex justify-end items-center px-5 text-secondary"
            >
              <div id="searchBtn" class="mr-4 cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  ></path>
                </svg>
              </div>
              <ThemeToggle />
            </div>
          </div>
        </div>
        <!-- Page content here -->
        <div
          id="content"
          class="flex flex-col justify-between w-full h-full overflow-x-hidden"
        >
          <div class="flex-grow">
            <slot />
          </div>
          <Footer />
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-3" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100 text-secondary">
          <!-- Sidebar content here -->
          <!-- <li><a>Sidebar Item 1</a></li>
          <li><a>Sidebar Item 2</a></li> -->
          <NavMenu />
        </ul>
      </div>
    </div>

    <SearchPalette />
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    background-color: #f6f6f6;
  }

  body {
    font-family: "Poppins", system-ui, sans-serif;
    font-size: 13pt;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .title {
    /* font-family: "Teko", sans-serif; */
    font-family: "Staatliches", sans-serif;
  }

  /* .drawer-side {
    max-width: 280px;
  } */

  .side-img {
    object-fit: cover;
    object-position: center;
  }

  .shadow-sm-dark {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 12px 13px 0 rgb(0 0 0 / 38%);
  }

  .border-1 {
    border-width: 1px !important;
  }

  .prose :is(h1, h2, h3, h4, h5, h6) {
    font-family: "Staatliches", sans-serif;
    color: theme("colors.secondary");
  }

  .text-poppins {
    font-family: "Poppins", system-ui, sans-serif;
  }

  .excerpt mark {
    background-color: theme("colors.primary");
  }
</style>
