---
import ThemeToggle from "../components/ThemeToggle.astro";
import "@fontsource/poppins";
import "@fontsource/audiowide";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import useThemeStore from "../store/useThemeStore";

  const themeState = useThemeStore();
  const html = document.querySelector("html");
  html?.setAttribute("data-theme", themeState.value.get().theme);

  themeState.value.subscribe((state) => {
    html?.setAttribute("data-theme", state.theme);
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="drawer drawer-mobile">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col items-center justify-center">
        <!-- Page content here -->
        <label for="my-drawer" class="btn btn-primary drawer-button lg:hidden"
          >Open drawer</label
        >
        <slot />
        <ThemeToggle />
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>

        <ul class="menu w-80 bg-base-300 text-base-content">
          <!-- Sidebar content here -->
          <div class="w-full">
            <img
              class="w-full side-img"
              src="/zach_web_dark.jpg"
              alt="Zach Moore"
            />
          </div>
          <div class="w-full p-4">
            <div class="w-full text-4xl text-error text-bold title">
              Zach Moore
            </div>

            <li><a>Sidebar Item 1</a></li>
            <li><a>Sidebar Item 2</a></li>
          </div>
        </ul>
      </div>
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "Poppins", system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .title {
    font-family: "Audiowide", sans-serif;
  }

  /* .drawer-side {
    max-width: 280px;
  } */

  .side-img {
    object-fit: cover;
    object-position: center;
  }
</style>
